<!-- views/forgotPassword.ejs -->

<%- include('partials/header') %>

<h1>Quên mật khẩu</h1>

<form action="/forgot-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <button type="submit">Gửi yêu cầu</button>
</form>

<%- include('partials/footer') %>
