<main>
    <div class="introduction h-[calc(100vh-158px)] relative">
        <div class="absolute left-[calc(50%)] top-[20%] text-wrap w-[25%]">
            <h1 class="text-red text-bigger font-bold font-title">Brewtiful xin chào!</h1> 
            <p class="text-medium font-serif">Vui lòng lướt xuống để xem các món nước của chúng mình nhé!</p>
        </div>
        <img class="h-[500px] w-[500px] absolute left-[18%] top-[-10%]" src="/images/webPageResources/bg/bobacup.png" alt="Chúc bạn ngon miệng!">
    </div>
</main>