<!-- views/home.ejs -->
<div class="w-full h-[60vh] flex justify-center items-center">
    <div>
        <h1 class="text-center text-big font-serif text-red font-bold mb-4">Chào mừng đến với Trang Chủ</h1>
        <% if (user) { %>
            <p class="text-lg text-center text-black font-bold mb-4">Xin chào, <%= user.name %>!</p>
        <% } else { %>
            <p class="text-lg text-center text-black font-bold mb-4">Vui lòng <a href="/login" class="text-red">đăng nhập</a> hoặc <a href="/register" class="text-red">đăng ký</a>.</p>
        <% } %>
    </div>
</div>