<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e88fd7b48a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body class="bg-cream">
    <header class="p-4 sticky top-1 z-50 flex flex-col">
        <nav class="bg-tertiaryGreen rounded-outer flex justify-between items-center h-[70px] px-4 shadow-lg mb-3">
            <div class="text-red text-big font-title">
                Brewtiful
            </div>
            <div class="relative h-full">
                <ul class="flex items-center space-x-4 h-full">
                    <li class="h-3/4 rounded-inner"><i id="searchBtn" class="cursor-pointer fa-solid fa-magnifying-glass inline-block py-4 px-6 h-full text-red font-bold"></i></li>
                    <li class="h-3/4 rounded-inner hover:bg-primaryGreen"><a href="/" class="inline-block py-3 px-6 h-full text-red font-serif font-bold hover:text-white">Trang chủ</a></li>
                    <li class="h-3/4 rounded-inner hover:bg-primaryGreen"><a href="/products" class="inline-block py-3 px-6 h-full text-red font-serif font-bold hover:text-white">Sản phẩm</a></li>
                    <li class="h-3/4 rounded-inner relative group">
                        <a href="#" class="block py-3 px-6 text-white font-serif font-bold bg-red w-full">Khách hàng</a>
                        <!-- Dropdown Menu -->
                        <ul class="absolute rounded-outer left-0 top-14 hidden bg-secondaryGreen text-white w-full group-hover:block">
                            <li class="text-center rounded-inner hover:bg-red"><a href="/profile" class="block py-3 px-6 font-serif font-bold hover:text-white">Tài khoản</a></li>
                            <li class="text-center rounded-inner hover:bg-red"><a href="/cart" class="block py-3 px-6 font-serif font-bold hover:text-white">Giỏ hàng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="searchBar" class="absolute top-24 w-9/12 mx-auto invisible place-self-center">
            <input type="text" placeholder="Nhập vào đây để tìm kiếm..." class="w-full h-full pl-4 pr-10 py-3 font-serif rounded-outer backdrop-blur-lg bg-white/70 border border-white/20 shadow-lg">
            <i class="fas fa-search absolute top-1/2 right-4 transform -translate-y-1/2 text-red"></i>
        </div>
    </header>

    <!-- Nội dung chính của từng trang sẽ được chèn vào đây -->
    <%- body %>

    <section class="fixed bottom-0 right-0 m-4">
        <div id="notification" class="bg-yellow/40 backdrop-blur-lg text-white p-4 rounded-lg border border-yellow shadow-md hidden">
            <p id="notification-message" class="font-bold font-serif text-medium text-black"></p>
        </div>
    </section>

    <footer class="bg-tertiaryGreen text-red font-serif font-bold p-4 mt-8 drop-shadow-bars">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 Brewtiful. All rights reserved.</p>
        </div>
    </footer>
</body>
<script>
    function showNotification(message) {
        const notification = document.getElementById("notification");
        const notificationMessage = document.getElementById("notification-message");
        notification.classList.remove("hidden");
        notificationMessage.textContent = message;
        setTimeout(() => {
            notification.classList.add("hidden");
        }, 3000);
    }

    const searchBtn = document.querySelector('#searchBtn');

    searchBtn.addEventListener("click", (e) => {
        document.querySelector("#searchBar").classList.toggle("invisible");
    });
</script>
</html>
