 <main class="flex flex-row justify-center gap-3">
    <div class="w-5/12 h-[70vh] relative bg-[url('../images/webPageResources/bg/bobacup.png')] bg-[percentage:80%_100%] bg-center bg-no-repeat">
        <% if (cart && cart.items.length > 0) { %>
            <div class="w-2/5 flex flex-col gap-3 absolute right-0 bg-yellow/40 p-4 rounded-outer backdrop-blur-sm">
                <p class="font-bold font-serif text-medium">Thanh toán ngay?</p>
                <a href="/orders/checkout" class="text-white transition-transform transform hover:scale-110 shadow-lg bg-red backdrop-blur-lg border border-yellow text-center font-bold font-serif px-4 py-2 rounded-outer hover:bg-red hover:text-white">Click vào đây</a>
            </div>
        <% } %>
    </div>
    <div class="w-5/12 bg-[url('../images/webPageResources/bg/waterNLeaves.png')] bg-cover">
        <div class="w-full h-full p-4 backdrop-blur-lg bg-tertiaryGreen/40 rounded-outer border border-primaryGreen overflow-y-auto">
            <h1 class="text-big font-serif font-bold mb-4 text-red">Giỏ hàng</h1>
            <% if (cart && cart.items.length > 0) { %>
                <% cart.items.forEach(item => { %>
                    <div class="p-4 border border-yellow rounded-outer mb-4 bg-yellow backdrop-blur-lg flex gap-3">
                        <img class="w-1/3 aspect-square" src="<%= item.productInfo.image %>" alt="">
                        <div class="content">
                            <p><%= item.productInfo.name %></p>
                            <p><%= item.productInfo.price %></p>
                            <label for="sl">SL:</label>
                            <input type="text" id="sl" value="<%= item.quantity %>"/>
                        </div>
                        <i class="fa-solid fa-xmark text-red"></i>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="text-lg font-serif">Giỏ hàng của bạn đang trống. <a href="/products" class="text-red font-serif font-bold">Mua sắm ngay!</a></p>
            <% } %>
        </div>
    </div>
    <!-- <div class="w-5/12 rounded-outer backdrop-blur-lg border border-primaryGreen p-4 bg-tertiaryGreen/40 z-10">
        
    </div> -->
</main>