<main class="relative">
    <div class="full-info hidden bg-black/80 backdrop-blur-sm z-50 fixed inset-0">
        <div class="full-info-cnt bg-cream rounded-lg absolute inset-10 overflow-y-scroll mx-32 my-8 px-10 py-5">
            
        </div>
    </div>
    <div class="introduction h-[calc(100vh-158px)] relative">
        <div class="p-10 flex flex-col justify-center items-center lg:absolute lg:left-[40%] lg:top-[20%] lg:w-[50%]">
            <h1 class="text-red text-bigger font-bold font-title">Brewtiful xin chào!</h1> 
            <p class="text-medium font-serif">Vui lòng lướt xuống để xem các món nước của chúng mình nhé!</p>
        </div>
        <img class="invisible lg:visible h-[100%] w-auto absolute left-[10%] top-[-10%]" src="/images/webPageResources/bg/bobacup.png" alt="Chúc bạn ngon miệng!">
    </div>
    <div class="bg-[url('/images/webPageResources/bg/bg_greenSplash.png')] bg-fixed bg-top bg-contain bg-no-repeat">
        <article class="w-9/12 mx-auto my-10">
            <div id="pagination" class="w-full h-10 mb-7">

            </div>
            <div class="items w-full justify-center grid grid-flow-row auto-rows-auto grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7">
                
            </div>
        </article>
    </div>
</main>
<style>
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #F29F05CC;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}

.pagination li.active {
    background-color: #F23A29;
    color: white;
    font-weight: bold;
    border: 1px solid #F23A29;
}

.pagination li.disabled {
    pointer-events: none;
}

</style>
<script>
    var currPage = 1;
    var totalPages = parseInt("<%= totalPages %>");
    var searchQuery = "<%= searchQuery %>";
</script>
<% if(!searchQuery) { %>
    <script src="/js/products.js"></script>
<% } else { %> 
    <script src="/js/searchedProducts.js"></script>
<% } %>